* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  min-width: 25rem;
  min-height: 60rem;
}
picture,
image,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
input {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  max-width: fit-content;
}

::placeholder {
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.popup-container {
  background-image: url("../images/assets/grid.svg");
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main {
  height: 90vh;
  padding: 2rem;
  position: relative;
  z-index: 3;
}
nav {
  position: sticky;
  padding: 1rem 0.5rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card {
  padding: 0.5rem;
  margin-bottom: 2rem;
}
.one-day {
  background: linear-gradient(90deg, #80c9fd 0%, #a2e9ff 20%);
  backdrop-filter: blur(30px);
  border-radius: 10px;
}
.details {
  word-wrap: break-word;
}
.description {
  display: flex;
  justify-content: space-between;
}
#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
hr {
  width: 50%;
  margin: 0 auto 1rem auto;
  border: 1px solid #80c9fd;
}
